h1 {
    color:lime;
    font-family: Helvetica, sans-serif, Georgia;
}

div.controls td.forwards {
    background-color:green;
}
div.controls td {
    height: 50px;
    width: 50px;
    border: 1px solid black;
}
td#forwards button {
    height: inherit;
    width: inherit;
    background: inherit;
    border: none;
}