<html>
    <head>
        <title>Charlie Control</title>
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
    </head>
    <body>
        <div id="explanation">
            <h1 id="heading"></h1>
        </div>
        <img src="{{ url_for('video_feed') }}" id="camera">
        <div id="controls">
                <table>
                    <tr>
                        <td></td>
                        <td class="up"><button id="up" name="direction">^</button></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="left"><button id="left" name="direction">&lt;</button></td>
                        <td class="down"><button id="down" name="direction">v</button></td>
                        <td class="right"><button id="right" name="direction">&gt;</button></td>
                    </tr>
                    <tr>
                        <td colspan=2>Auto-drive</td>
                        <td><label class="switch"><input type="checkbox" id="autodrive"><span class="slider round"></span></label></td>
                    </tr>
                </table>
        </div>
    </body>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <footer><script src="{{ url_for('static',filename='scripts/script.js') }}"></script></footer>
</html>