body {
    padding: 10px;
    color:black;
    font-family: Helvetica, sans-serif, Georgia;
}

div#controls td.up {
    background-color:green;
}
div#controls td.down {
    background-color:red;
}
div#controls td.left {
    background-color:turquoise;
}
div#controls td.right {
    background-color:turquoise;
}
div#controls td {
    height: 5em;
    width: 5em;
    border-radius: 1em;
    font-size: 2em;
}
td.up button, td.down button, td.left button, td.right button {
    height: inherit;
    width: inherit;
    color: white;
    font-size: inherit;
    background: transparent;
    border: none;
}
td.up button:focus, td.down button:focus, td.left button:focus, td.right button:focus {
    outline: none;
}

#camera {
    width: 512px;
    height: 288px;
    padding: 20px;
    border-radius:20px;
    display:inline-block;
    margin: 0 auto;
    border:none;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}