h1 {
    color:lime;
    font-family: Helvetica, sans-serif, Georgia;
}

div#controls td.up {
    background-color:green;
}
div#controls td.down {
    background-color:red;
}
div#controls td.left {
    background-color:turquoise;
}
div#controls td.right {
    background-color:turquoise;
}
div#controls td {
    height: 5em;
    width: 5em;
    border-radius: 1em;
    font-size: 2em;
}
td.up button, td.down button, td.left button, td.right button {
    height: inherit;
    width: inherit;
    color: white;
    font-size: inherit;
    background: transparent;
    border: none;
}
td.up button:focus, td.down button:focus, td.left button:focus, td.right button:focus {
    outline: none;
}
